/* Base styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
}

container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background: #eee url('header-bg.jpg') no-repeat center center/cover;
    color: #333;
    font-size: large;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #eee;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav img {
    height: 80px; 
}

#logo-text {
    font-family: 'Impact', sans-serif;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

#logo-text a {
    text-decoration: none;
    color: #333;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    font-family: 'Times New Roman', serif;
    margin: 0 20px;
    text-align: center;
}

nav ul li::after {
    content: " |";
    margin: 0 0 0 40px;
}

nav ul li:last-child::after {
    content: "";
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Carousel */
.carousel {
    position: relative;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%; 
    box-sizing: border-box;
}

.overlay-text {
    color: #333; 
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 10px;
    font-size: 1.5em;
}

.carousel-item button {
    margin-top: 1em;
    padding: 10px 20px; 
    border: none;
    background-color: #333; 
    color: #fff; 
    font-size: 1.2em; 
    border-radius: 5px; 
    cursor: pointer;
}

.carousel-item button a {
    color: #fff;
    text-decoration: none;
}

.carousel-item {
    position: absolute;
    margin-top: 80px;
    width: 100%;
    min-height: 600px;
    opacity: 0;
    pointer-events: none;
    animation: carousel-animation 18s infinite;
}

.item1 {
    animation-delay: 0s;
    background-image: url('img/carousel-1.png');
}

.item2 {
    animation-delay: 6s;
    background-image: url('img/carousel-2.png');
}

.item3 {
    animation-delay: 12s;
    background-image: url('img/carousel-3.png');
}

@keyframes carousel-animation {
    0% { opacity: 0; pointer-events: none; }
    8.33% { opacity: 1; pointer-events: all}
    33.33% { opacity: 1; pointer-events: all}
    41.66% { opacity: 0; pointer-events: none}
    100% { opacity: 0; pointer-events: none}
}

.typewriter {
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto;
    animation: 
        typing 3.5s steps(40, end)
}

.item1 .typewriter {
    animation-delay: 0s;
}

.item2 .typewriter {
    animation-delay: 6s;
}

.item3 .typewriter {
    animation-delay: 12s;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* Main content */
main {
    padding: 20px 0;
}

main h2 {
    margin-bottom: 20px;
    font-size: 2em; 
    font-weight: bold; 
    color: #333;
    text-align: center;
}

.services {
    text-align: center;
    padding: 50px 0;
    margin-top: 680px;
}


.service-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.service-item {
    width: 300px;
    margin-bottom: 50px;
    background-color: #fff; 
    padding: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
    border-radius: 10px; 
}

.service-item img {
    width: 100%;
    height: auto;
}

.service-item h3 {
    margin: 20px 0;
    font-size: 1.5em; 
    font-weight: bold; 
    color: #333; 
}

.service-item p {
    color: #666; 
    font-size: 0.9em; 
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px 50px;
}

.testimonial-item {
    background-color: #f9f9f9; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
}

.testimonial-item p {
    font-family: 'Calibri', sans-serif;
    font-size: 1.2em;
}

/* Blog Item */
.blog-posts {
    margin-top: 100px;
}

.blog-posts p:nth-of-type(1){
    text-align: center;
    font-style: italic;
}

.blog-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.blog-item {
    position: relative;
    width: 60%;
    height: 110px;
    margin-bottom: 50px;
    overflow: hidden;
    background-color: #fff; 
    padding: 20px 20px 20px 250px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Background Image */
.blog-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-out;
    z-index: 0;
}

.blog-item:nth-child(1)::before {
    background-image: url('img/blogs-1.jpg');
}

.blog-item:nth-child(2)::before {
    background-image: url('img/blogs-2.jpg');
}

.blog-item:nth-child(3)::before {
    background-image: url('img/blogs-3.jpg');
}

.blog-item:nth-child(4)::before {
    background-image: url('img/blogs-4.jpg');
}

.blog-item:nth-child(5)::before {
    background-image: url('img/blogs-5.jpg');
}

/* Date and Author Positioning */
.blog-date {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #868686; 
    font-size: 0.9em;
    padding: 5px;
    border-radius: 5px;
}

.blog-author {
    font-size: small;
    font-style: italic;
    color: #868686;
}

/* Excerpt and Title Styling */
.blog-item h3, .blog-excerpt, .blog-item a {
    position: relative;
    color: #000;
    z-index: 1;
}

/* Hover Effect on Image */
.blog-item:hover::before {
    transform: translate(40px, -5px) scale(1.1);
}

/* Read More Link */
.blog-item a {
    display: inline-block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #333; 
    color: #fff; 
    border-radius: 5px; 
    text-decoration: none;
    font-size: 1em;
}

.blog-item a:hover {
    background-color: #555;
}

/* Blog Post Page Styles */

/* General Typography and Spacing Enhancements */
article {
    font-size: 1.1em;
    line-height: 1.8;
    color: #333;
    margin: 20px 0;
}

.blog-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
    font-family: 'Georgia', serif;
}

article h2 {
    font-size: 1.5em;
    color: #333;
    margin: 30px 0 15px;
    font-family: 'Georgia', serif;
}

article p {
    margin: 10px 0;
}

/* Blog Content Styling */
.blog-post {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 50px auto;
}

.blog-content .blog-author {
    font-style: italic;
    color: #888;
    font-size: 0.9em;
    text-align: center;
}

/* Contact Form Styling */

.contact-section {
    text-align: center;
    padding: 20px 20px;
    background: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 80px auto 40px;
}

.contact-section h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.contact-section p {
    font-size: 1.1em;
    margin-bottom: 30px;
    color: #666;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.1em;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 1em;
    color: #333;
}

.form-group textarea {
    height: 150px;
    resize: vertical;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-section {
        width: 90%;
        padding: 30px 15px;
    }

    .contact-form {
        width: 100%;
    }
}

/* Footer */
footer {
    background: #eee;
    color: #333;
    padding: 30px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-content p {
    margin: 0;
    padding: 10px 0;
    flex: 1 1 50px;
}

/* Media queries */
@media(max-width: 768px) {
    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-bottom: 10px 0;
    }

    nav ul li::after {
        content: "";
    }
    .carousel-item {
        margin-top: 0;
    }
    .overlay-text {
        font-size: 0.7em;
    }
    .testimonial-grid {
        grid-template-columns: 1fr;
    }
    .footer-content {
        flex-direction: column;
    }
    .blog-item {
        width: 90%;
    }
    .blog-post {
        margin: 80px auto
    }
}
